<div id="content" class="col-md-12 center-column content-with-background">
	<div class="row">
		<div class="col-sm-12">
			<img src="https://cdn.shopify.com/s/files/1/0011/6375/5580/files/thestadiumgallery.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-4 about-us-locations">
			<br/>
			<h4>Florida</h4>
          	<p>434 St Armands Cir.<br/>Sarasota, FL 34236</p>
          	<h4>New York</h4>
          	<p>65 Main St.<br/> Cooperstown, NY 13326</p>
          	<h4>Maine</h4>
          	<p>17 State Rte 9<br/> Kennebunkport, ME 04046</p>
          	<br/>
          	<a href="/pages/contact" class="button">Contact Us</a>
		</div>
		<div class="col-sm-12 col-md-8 about-us">
			{{page.content}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<hr/>
			<section class="zoom-preview">
				<div class="zoom-image">
					<img class="trigger" data-zoom="https://cdn.shopify.com/s/files/1/0011/6375/5580/files/Fenway-BostonRedSox-Full.jpg" src="https://cdn.shopify.com/s/files/1/0011/6375/5580/files/Fenway-BostonRedSox-Web.jpg">
				</div>
				<div class="detail">

					<h2>Preview the Detail</h2>
					<p>Check out the high quality of our prints.</p>
					<ul>
						<li>Available in 3 sizes, suitable for any area.</li>
						<li>2 Matte Colors and 2 Frame Styles for a custom finish.</li>
					</ul>

				</div>
			</section>
		</div>
	</div>
	
</div>