<div class="product clearfix product-hover">
  <div class="left">
    <div class="image">
      <a href="#">
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </a>
    </div></div>
  <div class="right">
    <div class="name"><a href="#">{{"products.product.title" | t}}</a></div><div class="price"><span class="price-new money" data-currency-usd="{{ "19.99"| money_with_currency}}">{{ "1999.99"| money_with_currency}}</span></div>
  </div>
</div>